.body {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 30% 30% 50% 30%;
  align-items: center;
}


.top {
  display: flex;
  width: 85%;
}

.topleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 30px;
}
.font {
  height: 50px;
  font-weight: 800;
  color: white;
  margin-top: 2px;
  overflow-y: hidden;
  display: block;
}
.mini{
  width: 20px;
  height: 20px;
  margin-right: 10px ;
  /* justify-content: center; */
  /* align-items: center; */
  
}
.fontchild {
  font-size: 30px;
  line-height: 1;
  animation-name: grow;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  align-items: center;
}

/* 키프레임 애니메이션 */
@keyframes grow {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0);
  }
}


.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 1%; */
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
  font-size: 15px;
}
.bottom2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
  align-items: flex-end;
  
  /* align-items: center; */
}


.loginbtn {
  font-family: "Poppins", sans-serif;
  background-color: rgba(252, 234, 43, 1);
  width: 200px;
  height: 30px;
  /* border-radius: 25px; */
  font-size: 12px;
  /* font-weight: 600; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  /* margin-left: 15%; */
}

.topright {
  box-sizing: border-box;
  border-bottom: solid #bcff5e 3px;
  width: 60%;
}
