.background {
  background-color: rgba(86, 103, 166, 1);
  width :100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* position: relative; */
} 
.body {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 10% 10% 10% 10%;
  margin: 0;
  /* padding: 0; */
  position: relative;
}

.top {
  display: flex;
  width: 100%;
}

.topleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  /* margin-bottom: 10px; */
}
.font {
  height: 50px;
  font-weight: 800;
  color: white;
  margin-top: 2px;
  overflow-y: hidden;
  display: block;
}
.mini {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* justify-content: center; */
  /* align-items: center; */
}
.fontchild {
  font-size: 30px;
  line-height: 1;
  animation-name: grow;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  align-items: center;
}

/* 키프레임 애니메이션 */
@keyframes grow {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0);
  }
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  margin-top: 20%;
  flex-direction: column;
  /* align-content: center; */
  /* align-items: center; */
  /* height: 80%; */
}
.each {
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
  border: #bcff5e solid 2px;
}
.bottom2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  /* flex-direction: column; */
  align-items: flex-end;

  /* align-items: center; */
}

.loginbtn {
  font-family: "Poppins", sans-serif;
  background-color: rgba(252, 234, 43, 1);
  width: 100%;
  height: 45px;
  /* border-radius: 25px; */
  font-size: 1em;
  /* font-weight: 600; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  /* margin-left: 15%; */
}

.topright {
  box-sizing: border-box;
  border-bottom: solid #bcff5e 3px;
  width: 60%;
}

.container {
  position: absolute;
  width: 80vw;
  height: 80vh;
  z-index: 4;
  /* position : fixed; */
}

.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 70%;
  z-index: 3;
  /* display: flex; */
  /* animation: slide 2s ease-in-out; */
}

.modal {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  /* background-color: white; */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  /* margin: 5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modaltext {
  color: white;
  margin-bottom: 6%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: slide 2s ease-in-out;
}
@keyframes slide {
  from {
    right: -650px;
  }
  to {
    right: 0;
  }
}

.button1 :hover {
  /* width: 100%;
  height: 100%; */
  animation: slide1 3s ease-in-out;
  }

@keyframes slide1 {
  from {
    right: 0;
  }
  to {
    right: 650px;
  }
}

.buttons {
  width: 60%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
}

/* body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
  background-color: red;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
