.md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}
.background {
    background-color: white;
    width : 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
  } 

  .text3{
    font-weight: 700;
    font-size: 1.5em;
    color: black;
    text-align : center;
    margin: 0px;
    display: flex;
  justify-content: center;
  align-items: center;
   align-content: center;
  } 