.background {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.next {
  /* margin:auto; */
  /* paddipxng-top: 10px; */
  align-items: center;
  align-content: center;
  /* flex-direction: row; */
  display: flex;
  width: 90%;
  /* margin : auto; */
  justify-content: space-between;
}
.next1 {
  background-color: rgba(252, 234, 43, 1);
  width: 100vw;
  height: 8%;
  /* padding-left: 10px; */
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* flex-direction: row; */
  display: flex;
}
.next2 {
  background-color: rgba(252, 234, 43, 1);
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  align-content: center;
  /* justify-content: center;
align-items: center;
align-content: center; */
  /* display: flex; */
}
.back1 {
  background-color: black;
  /* width : 100vw; */
  height: 8%;
  width: 100%;
  /* flex-direction: row; */
  /* display: flex; */
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.text {
  /* margin:auto; */
  font-weight: 700;
  font-size: 1em;
  color: white;
  /* width: 100%; */
  /* align-content: center; */
}
.text1 {
  /* padding-bottom: 20px; */
  /* padding-left:20px ; */
  font-weight: 800;
  font-size: 0.8em;
  color: black;
  /* align-content: center; */
}
.text11 {
  /* padding-bottom: 20px; */
  /* padding-left:20px ; */
  font-weight: 500;
  font-size: 0.8em;
  color: black;
  /* align-content: center; */
}
.text12 {
  font-weight: 500;
  font-size: 0.8em;
  color: black;
  position: relative;
  /* font-size: 5rem; */
  animation: slide 8s infinite linear;
}

@keyframes slide {
  from {
      left: -350px;
  }
  to {
      left: 350px;
  }
}

.map {
  /* padding-left:20px ; */
  font-weight: 700;
  font-size: 5px;
  color: black;
  z-index: "1" !important;
  /* align-content: center; */
  position: relative !important;
}
.mini {
  padding: 2px 10px 2px 0px;
  width: 35px;
  height: 30px;
}

.next3 {
  background-color: rgba(217, 217, 217, 1);
  width: 100vw;
  height: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  /* display: flex; */
}
.text3 {
  /* padding-bottom: 5px; */
  padding-left: 20px;
  font-weight: 700;
  font-size: 1em;
  color: black;
  /* align-content: center; */
}
.next4 {
  /* padding: 10px 20px 10px 20px ; */
  /* align-content: center; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 10%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  
}
.next6 {
  background-color: white;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;

}

.next5 {
  width: 90%;
  height: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  margin: auto;
}

.box {
  align-items: center;
  align-content: center;
  text-align: center;
  /* justify-content: column; */
  font-size: 0.7em;
  width: 70%;
  /* border: 2px red solid; */
  /* margin-left: 5%; */
}

.size1 {
  height: 70%;
  width: 25%;
}
.size3 {
  height: 2%;
  width: 5%;

  display: inline-flex;
}
.in {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  width: 90%;
  height: 100%;
  /* justify-content: space-between; */
}
