#root {
  --swiper-theme-color : white;
}

/* * {
  font-family: 'Nanum Gothic', sans-serif;
} */

app {
  width : 100vw;
  height : 100vh;
  scroll-behavior: smooth;
}

* {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  /* font-weight: 300; */
  font-style: normal;
}