.background {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50px 50px 50px 50px;
  width : 100vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  box-shadow: 5px 5px 5px gray;
} 
.map{
/* align-items: center; */
display: flex;
border-radius: 50px 50px 50px 50px;
/* justify-content: center; */
align-items: center;
position : absolute;
margin: 10% 5% 5% 5%;
width : 90%;
height : 90%;
}
.texta {
font-weight: 700;
font-size: 0.9em;
color: black;
margin-top: 10px;

/* flex-direction: row; */
}
