.background {
  background-color: rgba(86, 103, 166, 1);
  width : 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
} 

.body1 {
  background-color:  rgba(86, 103, 166, 1);
  /* border-radius: 50px 50px 0 0;
  background-color: white; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: left; */
  width : 100%;
  height: 100%;
  padding: 20px 10px 0px 10px;
  /* padding: auto;
  margin-top: 20px; */
}
.body2 {
  /* border-radius: 50px 50px 0 0; */
  background-color: rgba(86, 103, 166, 1);
  display: flex;
  /* flex-direction: column; */
  /* align-items: left; */
  width : 100%;
  height: 80%;
  padding:40px 20px 0px 20px;
}
::-webkit-scrollbar {
  display: none;
}
.next{
    background-color: rgba(252, 234, 43, 1);
    width : 100vw;
    height: 8%;
    text-align : center;
    display: flex;
justify-content: center;
align-items: center;
}

.text {
  font-weight: 500;
  font-size: 1.1em;
  color: white;
}
.text1 {
  /* padding-left:20px ; */
  font-weight: 700;
  font-size: 1em;
  color: black;
  /* text-align : center; */
}
.texta {
  /* font-weight: 700; */
  font-size: 1.2em;
  color: white;
  
}
.textb {
  font-weight: 700;
  font-size: 1.8em;
  color: white;
  padding-top: 50px;
  /* padding-bottom: 10px; */
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
  padding-right: 4%;
}


/* 
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px 30px 50px 30px;
} */


.topleft {
  display: flex;
  width: 95%;
  margin : auto;
  justify-content: space-between;
  /* background-color: black; */
  /* flex: 1 2; */
}
.alla{
  margin-bottom: 50px;
  margin-left: 10%
}

.font {
  height: 23px;
  /* font-weight: 800; */
  color: white;
  margin-top: 2px;
  overflow-y: hidden;
  display: block;
}
.mini{
  width: 20px;
  height: 20px;
  margin-right: 10px ;
  /* justify-content: center; */
  /* align-items: center; */

}
.fontchild {
  font-size: 20px;
  line-height: 1;
  animation-name: grow;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}



.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
}
.bottom2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  flex-direction: column;
  align-items: flex-end;
  /* align-items: center; */
}


.loginbtn {
  font-family: "Poppins", sans-serif;
  background-color: rgba(252, 234, 43, 1);
  width: 200px;
  height: 30px;
  /* border-radius: 25px; */
  font-size: 12px;
  /* font-weight: 600; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  /* margin-left: 15%; */
}


