.background {
    background-color: white;
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  } 
.next{
    background-color: black;
    width : 100vw;
    height: 10%;
    /* paddipxng-top: 10px; */
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    /* flex-direction: row; */
    display: flex;
    width: 100%;
    /* margin : auto; */
    justify-content: space-between;
}
.next1{
  background-color: rgba(252, 234, 43, 1);
  width : 100vw;
  height: 12%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  /* flex-direction: row; */
  display: flex;
}
.next2{
  background-color: rgba(217, 217, 217, 1);
  width : 100vw;
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  /* display: flex; */
}
.text {
    padding-left:20px ;
    font-weight: 700;
    font-size: 1em;
    color: white;
    /* align-content: center; */
  }  
  .text1{
    /* padding-bottom: 5px; */
    padding-left:20px ;
    font-weight: 700;
    font-size: 1em;
    color: black;
    /* align-content: center; */
  }  
  .text2{
    padding-left:20px ;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
    /* align-content: center; */
  } 
  .mini {
    padding: 2px 10px 2px 0px ;
    width: 35px;
    height: 30px;
    
    
  } 
  .text3{
    font-weight: 700;
    font-size: 1.8em;
    color: black;
    text-align : center;
   
  } 
